html,
body {
  margin: 0;
  padding: 1em;
  background: black url("./bg.png");
  color: white;
}

#idea,
#description {
  margin: 1em;
  text-align: center;
  padding: 1em;
  color: white;
}

#idea {
  font-size: 72px;
}

#description {
  font-size: 36px;
}

.hidden {
  display: none;
}

.buttons {
  width: 100vw;
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  text-align: center;
}

button {
  margin: 1em auto;
  display: inline-block;
  clear: left;
  border: 1px white solid;
  border-radius: 1em;
  background: black;
  color: white;
  padding: 1em 2em;
}
